<app-add-new-case-selection-bar></app-add-new-case-selection-bar>
<div class="row">
  <button class="btn btn-primary btn1">E-2 Visa</button>
  <button class="btn btn-primary btn2">H1-B Visa</button>
  <button class="btn btn-primary btn3">L-1 Visa</button>
</div>

<div class="row">
  <button class="btn btn-primary btn1" style="padding-right: 27px; padding-left: 27px">GC</button>
  <button class="btn btn-primary btn2" style="padding-right: 32px; padding-left: 32px">P-1</button>
  <button class="btn btn-primary btn3" style="padding-right: 3px; padding-left: 3px">TN/NAFTA</button>
</div>
