<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
         <!-- <img class="img-responsive" src="Fleischer.jpg" alt="">-->

          <a href="/login" class="navbar-brand">
            <img
              src="assets/images/logo.png"
              alt="Logo"

              style="max-height:50px; margin-top: -15px"></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <a href="#"><img
              src="assets/images/logo2.png"
              alt="logo2"
              style="max-height: 40px"></a>

            <button routerLink="/contact" class = "btn btn-danger">Contact Us</button>
            &nbsp;
            <button class = "btn btn-primary">Sign Out</button>
            <!--<li><a href="#">Recipes</a></li>
            <li><a href="#">Shopping List</a></li>-->
          </ul>
        </div>
      </div>
</nav>

<!--  MENU-BAR -->

<div class="row">
  <div class="col-md-6">
    <a routerLink="/home">
      <img
        src="assets/images/Home-Btn.png"
        alt="Home"
        style="max-height:30px;">
    </a>&nbsp;

    <a hred="#">
      <img
        src="assets/images/cal.png"
        alt="calender"
        style="max-height:30px;">
    </a>&nbsp;
    <a routerLink="/empdetail">
      <img
        src="assets/images/people.png"
        alt="people"
        style="max-height:30px;">
    </a>&nbsp;
    <img
      src="assets/images/check.png"
      alt="checkmark"
      style="max-height:30px;">
  </div>
  <div class="col-md-6 text-primary">
    <img
      src="assets/images/Task.png"
      alt="Task"
      style="max-height:30px;">Tasks&nbsp;
    <img
      src="assets/images/To-Do.png"
      alt="To-Do"
      style="max-height:30px;">To-Do&nbsp;
    <a routerLink="/clients-view">
      <img
        src="assets/images/client.png"
        alt="client"
        style="max-height:30px;">Clients</a>&nbsp;
    <a routerLink="/cases-view">
      <img
        src="assets/images/cases.png"
        alt="cases"
        style="max-height:30px;">Cases</a>&nbsp;

    <img
      src="assets/images/invoice.png"
      alt="invoice"
      style="max-height:30px;">Invoice&nbsp;
    <img
      src="assets/images/Admin.png"
      alt="admin"
      style="max-height:30px;">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Admin<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Admin</a></li>
      <li><a class="dropdown-item" href="#">Time Sheet</a></li>
      <li><a class="dropdown-item" href="#">Leave</a></li>
      <li><a class="dropdown-item" href="#">Expenses</a></li>
    </ul>
  </div>

  <div class="col-md-2">
    <a href="/newcase">
      <button class="btn btn-info pull-right ">New Case</button></a>

  </div>
</div>
