<div class="container-fluid ">
  Please select the case-type from the drop-down list!
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Cases
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a routerLink="/businessImmigration-info">Business Immigration</a></li>
      <li><a routerLink="/familyImmigration-info">Family Immigration</a></li>
      <li><a routerLink="/workingVisa-info">Working Visas</a></li>
      <li><a routerLink="/citizenship-info">Citizenship</a></li>
      <li><a routerLink="/nationalInterestWaiver">National Interest waiver</a></li>
      <li><a routerLink="/otherImmigrationLawServices">Other Immigration Law Services</a></li>
    </ul>
  </div>
</div>
