h3{
  color: white;
  background-color: royalblue;
  margin-left: 21px;
}
.previous{
  background-image: url("previous.png");
  margin-top: -70px;
  background-position-y: 2px;
  margin-left: -180px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 4px;
  padding: 4px 18px;
  padding-top: 5px;
  height: 35px;
  width: 70px;
  color: white;
  border: 1px solid dodgerblue;
}
.btn2{
  background-color: gray;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 4px;
  padding: 6px 18px;
  color: white;
  border: 1px solid dodgerblue;
}
.monday{
  background-image: url("Monday_display.png");
  background-position-x: -15px;
  margin-left: 94px;
  font-weight: bold;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
  border-color:gainsboro ;


}
.tuesday{
  background-image: url("Tuesday_display.png");
  background-position-x: -17px;
  background-position-y: -1px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  width: 70px;
  height: 35px;
  padding-left: 70px;
  padding-top: 30px;
  border-color:gainsboro
}
.wednesday{
  background-image: url("wednesday_display.png");
  background-position-x: -21px;
  background-position-y: -1px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
}
.thursday{
  background-image: url("thursday_display.png");
  background-position-x: -15px;
  background-position-y: -1px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
}
.friday{
  background-image: url("friday_display.png");
  background-position-x: -10px;
  background-position-y: -1px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
}
.saturday{
  background-image: url("saturday_display.png");
  background-position-x: -15px;
  background-position-y: -1px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
}
.sunday{
  background-image: url("sunday_display.png");
  background-position-x: -15px;
  background-position-y: -1px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
}

.container{
  border-style: solid;
  border-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 93px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 670px;
  height: 230px;
}

.bg{
  background-color: whitesmoke;
}

.submit {
  background-image: url("submit.png");
  background-position-x: 4px;
  margin-left: 975px;
  margin-right: -10px;
  font-weight: bold;
  border-radius: 4px;
  width: 25px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
  border-color: gainsboro;
}
.next{

  background-image: url("next.png");
  background-position-x: 4px;
  margin-left: 15px;
  margin-right: -10px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 4px;
  width: 25px;
  height: 30px;
  padding-left: 70px;
  padding-top: 30px;
  border-color: gainsboro;
}
