<div class="row">
  <p class="text-primary" style="margin-left: 105px" routerLink="/announcement-info">
    <img
    src="assets/images/announcement.png"
    alt="announcement"
    style="max-height:30px; margin-right: 10px">Announcements
  </p>
</div>
<div class="row">
  <table class="table table-bordered" style="margin-left: 105px; padding: 10px">
    <tr class="text-center">
      <th class="text-danger">Announcement-1</th>
      <th class="text-success">21/11/2017</th>
    </tr>
    <tr>
      <th class="text-danger">Announcement-2</th>
      <th class="text-success">20/11/2017</th>
    </tr>
    <tr>
      <th class="text-danger">Announcement-3</th>
      <th class="text-success">18/11/2017</th>
    </tr>
  </table>
</div>
