<div class="row">
  <p class="text-primary" style="margin-left: 105px" routerLink="/announcement-info">
    <img
      src="assets/images/announcement.png"
      alt="announcement"
      style="max-height:30px; margin-right: 10px">Announcements
  </p>
</div>
<div class="row">
  <input type="textarea" name="add-announcement" style="width: 430px; height: 190px; margin-left: 105px; margin-bottom: 10px" class="form-control" ngModel>
</div>
<div class="row">
  <button class="btn btn-primary" style="margin-left: 465px">Submit</button>
</div>
