.label1 {
  color: black;
  size: 75px;
  margin: 5px;
  margin-left: 5px;

}
.label11{
  color: black;
  size: 75px;
  margin: 5px;
  margin-left: 5px;
  margin-top: -80px;

}
.btn1{
  margin: 10px;
  margin-left: 0px;
}
.row{
  margin-right: 40px;
  margin-bottom: -70px;
  padding-bottom: 30px;
}

.h4{
  margin-bottom: -20px;
  margin-left: 50px;
}

.r1{
  margin-top: 10px;
}
