
  <div class="col-md-7" >
    <h4 class="text-primary text-right">Get Immigration and Naturalization Help Today</h4><br>
    <!--<div class="col-md-8 pull-right" >-->
      <form class="pull-right">
        <label class="label11">Name:</label><br>
        <input type="text" name="name" style="width: 330px" class="form-control" ngModel required><br>
        <label class="label1">Phone Number:</label><br>
        <input type="text" name="phone" style="width: 330px" class="form-control" ngModel required><br>
        <label class="label1">Email:</label><br>
        <input type="text" name="email" style="width: 330px" class="form-control" ngModel required><br>
        <label class="label1">Subject:</label><br>
        <input type="text" name="subject" style="width: 330px" class="form-control" ngModel required><br>
        <label class="label1">Message:</label><br>
        <input type="textarea" name="message" style="width: 330px; height: 90px;" class="form-control" ngModel required> <br>
        <button class="btn btn-primary btn1">Submit</button>
      </form>
    <!--</div>-->
  </div>
  <div class="col-md-5">
      <div class="col-md-8 text-right">
        <h4>Office Address </h4><br>
        <h6 class="text-right">810 Sycamore Street, 2nd Floor<br>
          Cincinati, Ohio, USA 45202-2179<br>
          Phone : (513)246-1212</h6>
      </div>
      <div class="col-md-2">

      </div>
  </div>

<div class="row r1">

</div>
