<div class="container">
  <div class="row text-primary">

    <p><b>
      Case Listing Page</b>
    </p>

  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Case</th>
        <th>Client</th>
        <th>Notifications</th>
        <th>Pending Tasks</th>
        <th>Contacts</th>
        <th>Status</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody class="text-primary"  style="text-decoration-line: underline">
      <tr>
        <td><a routerLink="/view-case"> <b>Case-1</b></a></td>
        <td><a routerLink="/view-client"><b>Client-1</b></a></td>
        <td>Notification-2</td>
        <td>
          <img src="assets/images/EE.png"
               alt="EE"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/ER.png"
               alt="ER"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/AT.png"
               alt="AT"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/Ast.png"
               alt="AST"
               style="max-height:30px;"><br> 36 Incomplete Task</td>
        <td>Link-for-contacts-of-case-1-client-1</td>
        <td><img src="assets/images/status.png"
                 alt="status"
                 style="max-height:30px;"> </td>
        <td><a href="#">H1-B</a></td>
      </tr>
      <tr>
        <td><a routerLink="/view-case"> <b>Case-2</b></a></td>
        <td><a href="#"> <b>Client-1</b></a></td>
        <td>Notification-1</td>
        <td>
          <img src="assets/images/EE.png"
               alt="EE"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/ER.png"
               alt="ER"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/AT.png"
               alt="AT"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/Ast.png"
               alt="AST"
               style="max-height:30px;"><br> 39 Incomplete Task</td>
        <td>Link-for-contacts-of-case-2-client-1</td>
        <td><img src="assets/images/status.png"
                 alt="status"
                 style="max-height:30px;"> </td>
        <td><a href="#">GC</a></td>
      </tr>
      <tr>
        <td><a href="#"> <b>Case-1</b></a></td>
        <td><a href="#"> <b>Client-2</b></a></td>
        <td>Notification-1</td>
        <td>
          <img src="assets/images/EE.png"
               alt="EE"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/ER.png"
               alt="ER"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/AT.png"
               alt="AT"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/Ast.png"
               alt="AST"
               style="max-height:30px;"><br> 36 Incomplete Task</td>
        <td>Link-for-contacts-of-case-1-client-2</td>
        <td><img src="assets/images/status.png"
                 alt="status"
                 style="max-height:30px;">
        </td>
        <td><a href="#">H1-B</a></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
