<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
        <div class="container">
          <p style="margin-left: -80px; margin-top: -50px; margin-bottom: 1px">
            <a href="#">
              <img
                src="assets/images/pic.png"
                alt="picture"
                style="height:180px; width: 200px;"></a></p>

          <p class="text-primary text-center">Name</p>
      </div>
      </div>

    <!--</div>-->

     <div class="col-md-9">
       <!-- <div class="container">-->
            <div class="div1">
              <div class="row" style="margin-bottom: 20px">
                <div class="col-md-8">
                  <div class="text-danger">
                    <b>
                      <p>Announcement-1</p>
                      <p>Announcement-2</p>
                      <p>Announcement-3</p>
                    </b></div>
                </div>

                <div class="col-md-4">
                  <ul class="text-success">
                    <p>21/11/2017</p>
                    <p>20/11/2017</p>
                    <p>18/11/2017</p>
                  </ul>
                </div>

              </div>
              <div class="row" style="padding-top: 50px">
                <div class="col-md-8">
                  <p class="text-primary">
                    <a routerLink="/announcement-info">
                      <img
                        src="assets/images/announcement.png"
                        alt="announcement"
                        style="max-height:30px;">Announcements</a>
                  </p>
                </div>
                <div class="col-md-4 col-md-push-2">
                  <a routerLink="/add-announcement">
                    <img
                      src="assets/images/add.png"
                      alt="add"
                      style="max-height:30px; "></a>
                  <img
                    src="assets/images/edit.png"
                    alt="edit"
                    style="max-height:30px;">
                  <img
                    src="assets/images/grid.png"
                    alt="grid"
                    style="max-height:30px;">

                </div>
              </div>
            </div>
        <!--</div>-->
      </div>
    </div>
      <div class="row">
        <!-- NOTIFICATION-->

          <div cLass="div2">
            <p class="text-primary" style="padding-top: -20px; margin-top: -30px">
              <img
                src="assets/images/notification.png"
                alt="notification"
                style="max-height:30px;">
              Notification
            </p>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-9" style="text-decoration-color: red; padding-top: 15px">
                  <div class="text-danger"><b>
                    <p>Notification2-Client1</p>
                    <p>Notification1-Client2</p>
                    <p>Notification1-Client1</p></b></div>

                </div>
                <div class="col-md-3">
                  <div class="text-success" style="padding-top: 15px">
                    <p>21/11/2017</p>
                    <p>20/11/2017</p>
                    <p>18/11/2017</p></div>

                </div>
              </div>

            </div>
          </div>


      </div>
  </div>

  <div class="col-md-3">
    <!-- QUICKLINK-->
      <div class="div3">
        <p class="text-primary" style="padding-bottom: 8px; margin-top: -8px; margin-bottom: 5px">
          <img
            src="assets/images/links.png"
            alt="links"
            style="max-height:45px;">
          Quick-Links
        </p>
        <hr>
        <p style="padding-bottom: 18px; padding-top: 10px">
          <a href="/cases-view" >
            <img
              src="assets/images/cases.png"
              alt="cases"
              style="max-height:30px; margin-right: 10px">
            Cases</a>
        </p>
        <p style="padding-bottom: 15px; padding-top: 12px">
          <a routerLink="/clients-view">
            <img
              src="assets/images/client.png"
              alt="client"
              style="max-height:30px; margin-right: 10px; margin-left: -5px">Clients</a>
        </p>
        <p style="padding-top: 10px">
          <a routerLink="/announcement-info">
            <img
              src="assets/images/announcement.png"
              alt="announcement"
              style="max-height:30px; margin-right: 10px">Announcements</a>
        </p>
      </div>
      <br>
      <button class = "btn btn-success" routerLink="/markmyattendance" [id]="align">Mark My Attendance</button>

  </div>
</div>



