<div class="container">
  <div class="row text-primary">

    <p><b>
      Client Listing Page</b>
    </p>

  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr style="text-decoration-color: lightgray">
        <th>Client</th>
        <th>Notifications</th>
        <th>Pending Tasks</th>
        <th>Primary Contacts</th>

      </tr>
      </thead>
      <tbody class="text-primary"  style="text-decoration-line: underline">
      <tr>

        <td><a routerLink="/view-client"> <b>Client-1</b></a></td>
        <td>Notification-2</td>
        <td>
          <img src="assets/images/EE.png"
               alt="EE"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/ER.png"
               alt="ER"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/AT.png"
               alt="AT"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/Ast.png"
               alt="AST"
               style="max-height:30px;"><br> 36 Incomplete Task</td>
        <td>Srikanth<br>
          Ph :     (123)456-7890<br>
          email :  sri@company.com</td>

      </tr>
      <tr>

        <td><a href="#"> <b>Client-2</b></a></td>
        <td>Notification-1</td>
        <td>
          <img src="assets/images/EE.png"
               alt="EE"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/ER.png"
               alt="ER"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/AT.png"
               alt="AT"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/Ast.png"
               alt="AST"
               style="max-height:30px;"><br> 39 Incomplete Task</td>
        <td>Antony Aquino<br>
          Ph :     (023)456-7891<br>
          email :  antony@company.com</td>

      </tr>
      <tr>

        <td><a href="#"> <b>Client-1</b></a></td>
        <td>Notification-1</td>
        <td>
          <img src="assets/images/EE.png"
               alt="EE"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/ER.png"
               alt="ER"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/AT.png"
               alt="AT"
               style="max-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/images/Ast.png"
               alt="AST"
               style="max-height:30px;"><br> 36 Incomplete Task</td>
        <td>Srikanth<br>
          Ph :     (123)456-7890<br>
          email :  sri@company.com</td>

      </tr>

      </tbody>
    </table>
  </div>
</div>
